[viewBag]
==
<div class="col-sm-4">
    <div id="sidebar">
        <!-- Sidebar -->
        <section>
            <h2>Contents</h2>
            <ul class="sidebar-list">
                <li><a href="application-procedures">Application Procedures</a></li>
                <li><a href="scholarships">Scholarships</a></li>
                <li><a href="graduates">Graduate</a></li>
                <li><a href="undergraduates">Undergraduate</a></li>
                <li><a href="law">Law</a></li>
                <li><a href="entrance-examination">Entrance Examination</a></li>
            </ul>
        </section>
    </div>
</div>